body {
  margin: 0 auto;
  /*max-width: 75em;*/
  font-family: "Helvetica", "Arial", sans-serif;
  line-height: 1.5;
  /*padding: 1em;*/
  color: #555;
  text-align: center;
  min-width: 300px;
  font-size: 16px;
}

main {
  margin: 0 auto;
  max-width: 95em;
  padding: 1em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.1;
  margin-top: 1em;
  padding-top: 1em;
}

h2 {
  color: #184EE8
}

ul {
  list-style-type: none;
  padding-left: 0;
}

.header-container {
  position: fixed;
  top: 0px;
  left: 0;
  right:0;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 0px;
  background-color: white;
  margin:0 auto;
  border-bottom: 1px solid black;
  margin-left:auto;
  margin-right: auto;
  height: 50px
}

.header-container > a {
  padding: 15px 10px 0;
  float:left;
  color: #18BBE8;
  text-decoration: none;
  font-size: 22px;
}

.welcome {
  background-size: cover;
  height: 450px;
  background-image: url('../images/South-Carolina-Flag.jpg');
  background-position: center;
}
.welcome-headers {
  width: 50%;
  margin: 0 auto;
  color: white;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.8);
}
.welcome-headers h1 {
  color: white;
  font-size: 28px;
  margin-top: 80px;
  padding-top: 0;
}

.drop-nav {
  width: 100%;
  position: fixed;
  top: 55px;
  left: 0;
  background-color: white;
}

.drop-nav > ul {
  float: left;
  width: 100%;
  margin-top: 8px;
}

.drop-nav-link {
  border-bottom: 1px solid black;
  padding-left: 10px;
  text-align: left;
  margin-bottom: 8px;
  padding-bottom: 8px;
}

.drop-nav-link > a {
  text-decoration: none;
  color: #18BBE8;
}

.hidden {
  display: none;
}

.hamburger {
    width: 25px;
    height: 20px;
    border: 1px solid #eeeeef;
    border-radius: 2px;
    box-shadow: 0 0 2px #eeeeef;
    padding: 10px 10px;
    position: absolute;
    top:5px;
    right: 10px;
}

.hamburger-stripe {
    background-color: #24515B;
    height: 3px;
    margin-bottom: 5px;
}

.contact-link > a {
  color: #18BBE8;
}

.about, .work, .welcome {
  padding-top: 50px;
  margin-bottom: 2em;
}

.headshot {
  max-width: 100%;
  /*height: 350px;*/
  border-radius: 15% 40% 15%;
  margin: 0 auto;
  /*min-width: 250px;*/
}

.about-container {
  margin: 0 40px;
}

/*.work, .header-about, .contact {
  height: 100vh;
}*/

.work, .about {
  margin-top: -50px;
}

.project {
  color: white;
  padding-bottom: 5px;
  max-width: 75%;
  margin: 0 auto;
  margin-top: 2em;
  border-radius: 25px;
}

.project:hover {
  border: 1px solid black;
  box-shadow: 0px 0px 20px 4px rgba(0,0,0,0.75);
}

.project-image {
  max-width: 90%;
}
#frobnicator {
  background-color: #2797FF;
}

#foo-bar {
  background-color: #18BBE8;
}

#alice-bob {
  background-color: #18BBE8
}

#wibble {
  background-color: #2797FF;
}

.project-stack {
  color: black;
}

.project-link > a{
  color: white;
  /*text-decoration: none;*/
}

.contact {
  /*margin-top: 2em;*/
}

.contact > h2 {
  margin-top: 0;
  padding-top: 0;
}

.contact-links {
  width: 75%;
  margin: 0 auto;
  padding-left: 30px;
}

.linkedin {
  padding: 20px 5px 2px;
  color: white;
  background-color: #007bb5;
}

.github {
  color: #000000;
}

.flex-grid-triples {
  display: flex;
  /*justify-content: space-between;*/
}

.flex-grid-triples .col {
  width: 32%;
}

@media (max-width: 905px) {
  .headshot {
    /*height: 250px;*/
  }
}

@media (min-width: 540px) {

  .hamburger, .drop-nav {
    display: none;
  }

  .main-nav {
    display: block;
    padding-top: 10px;
  }

  .main-nav > ul {
    list-style: none;
    padding-left: 0;
    margin-top: 0;
    padding-top: 0;
    margin-bottom: 0;
    float: right;
  }

  .main-nav-link {
    float: left;
    display: block;
  }
  .main-nav-link > a{
    text-decoration: none;
    color: black;
    padding:10px 15px 0px;
    display: block;
  }

  .main-nav-link > a:hover{
    /*border-bottom: 1px solid #348AA7;*/
    padding-bottom: 2px;
    /*font-size: 22px;*/
    color: #348AA7;
    text-decoration: none;
  }
}

@media (min-width: 700px) {
  .welcome > h1 {
    font-size: 38px;
  }

  .about-text {
    letter-spacing: 1px;
    margin-top: 15%;
  }

  .project {
    max-width: 45%;
  }

  .pro-odd {
    margin-left: auto;
    margin-right: 1em;
  }

  .pro-even {
    margin-right: auto;
    margin-left: 1em;
  }

  .flex-doubles {
    display: flex;
    justify-content: space-between;
    margin-left:auto;
    margin-right: auto;
  }

  .flex-doubles .col {
    width: 50%;
  }

   .headshot-container {
     border-right: 1px solid #178EA1;
     margin-right: 0;
     padding-right: 1em;
   }

  .about-text {
    padding-left: 1em;
  }




}
