body {
  margin: 0 auto;
  max-width: 50em;
  font-family: "Helvetica", "Arial", sans-serif;
  line-height: 1.5;
  padding: 1em;
  color: #555;
  text-align: center;
  min-width: 400px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.1;
  margin-top: 1em;
  padding-top: 1em;
}

h1,
h2,
strong {
  color: #333;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

.header-container {
  position: fixed;
  /*width: 95%;*/
  top: 0px;
  left: 0;
  right:0;
  padding-bottom: 15px;
  /*background-image: url(./img/aleksandr-kozlovskii-2928.jpg);
  height: 350px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;*/
  background-color: white;
  margin:0 auto;
  border-bottom: 1px solid black;
}

.header-container > h1 {
  margin-top: 0;
  color: #348AA7;
}
.main-nav > ul {
  justify-content: space-around;
  list-style: none;
  padding-left: 0;
}
.main-nav-link > a{
  text-decoration: none;
  color: black;
}

.main-nav-link > a:hover{
  border-bottom: 1px solid #348AA7;
  padding-bottom: 0.5em;
  font-size: 22px;
  color: #348AA7;
}
.contact-link > a {
  color: #348AA7;
}
.header-about {
  margin-top: 190px;
}

.project {
  color: white;
  padding-bottom: 5px;
  max-width: 400px;
  margin: 0 auto;
}

.project-image {
  max-width: 95%;
}
#frobnicator {
  background-color:  #4FB0C6;
}

#foo-bar {
  background-color: #367887;
}

#alice-bob {
  background-color: #24515B
}

#wibble {
  background-color: #1B3D44;
}

.project-stack {
  color: black;
}

.project-link > a{
  color: white;
  /*text-decoration: none;*/
}

.contact {
  margin-top: 2em;
  border-top: 1px solid black;
}

.contact > h2 {
  margin-top: 0;
}

.contact-links > ul {
  display: flex;
  justify-content: space-around;
}
.flex-grid {
  display: flex;
}

.col {
  flex: 1;
}

@media (min-width: 700px) {
  .flex-doubles {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-top: 1em;
  }

  .flex-doubles .project {
    width: 48%;
  }
}
